body {
  max-width: calc(960px - 40px);
  margin-bottom: 100px;
  /* margin-left: 5%;
  margin-right: 5%; */
  margin: auto;
}

p {
    font-family: 'avenir-roman', 'sans-serif';
}

.logo.img-responsive {
  display: block;
  margin: auto;
  padding: 1em 0 0 0;
  max-width: 80%;
  height: auto;
}

hr {
  border-top: 1px solid #231f20;
}

.header-title {
  font-family: 'avenir-medium', 'sans-serif';
  text-align: center;
  font-size: 0.7em;
}


/* ~~~~~~~~~~NAVBAR~~~~~~~~~~ */

.navbar a{
  font-family: 'avenir-medium', 'sans-serif';
  text-transform: uppercase;
  color: white;
}

.navbar a:hover {
  color: #505050;
}



/* ~~~~~~~~~~MAIN CONTENT~~~~~~~~~~ */

.big-box {
  background: #282828;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main h2 {
  font-family: 'Oswald', 'sans-serif';
  font-size: 1.4em;
  color: #f1afc9;
}

.main p {
  padding: 0.5em 0 0 0.1em;;
}

.row.justify-content-center.align-items-center {
  margin-bottom: 16px;
}

.row.justify-content-center.align-items-center h1 {
  font-family: 'Oswald', 'sans-serif';
  /* font-size: 1.4em; */
}


/* ~~~~~~~~~~FOOTER~~~~~~~~~~ */

.footer {
  position: fixed;
  background: white;
  width: 90%;
  max-width: calc(960px - 40px);
  bottom: 0;
  height: 100px;
  padding-top: 10px;
}

.form-input {
  width: 100%;
  background: #282828;
  border-style: solid;
  padding-left: 0.5em;
}

.form-input::-webkit-input-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
}

.form-input:-ms-input-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
}

.submit-button {
  float: right;
  color: white;
  background-color: #2b2a29;
  border-color: #2b2a29;
}

.copyright p {
  font-size: 0.75em;
  padding: 1em 0 0 2em;
}

.burgerbutton {
  float: left;
  margin-top: 0;
}




/* ~~~~~~~~~~Media Queries~~~~~~~~~~ */

/* SMALL DOWNWARDS */

@media (max-width: 575.9px) {

  body {
    margin-top: -30px;
    /* margin-left: -50px; */
  }

  .logo.img-responsive {
    /* display: block; */
    position: relative;
    margin-top: 20px;
    margin-right: calc(90%/2);
    /* padding: 1em 0 0 0; */
    /* max-width: 20%; */
    height: auto;
  }

  .navbar-collapse {
          position: absolute;
          top: 54px;
          left: 0;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          width: 100%;
      }
      .navbar-collapse.collapsing {
          height: auto;
          -webkit-transition: left 0.3s ease;
          -o-transition: left 0.3s ease;
          -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
          left: -100%;
      }
      .navbar-collapse.show {
          left: 0;
          -webkit-transition: left 0.3s ease-in;
          -o-transition: left 0.3s ease-in;
          -moz-transition: left 0.3s ease-in;
          transition: left 0.3s ease-in;
      }

}


/* SMALL UPWARDS */

@media (min-width: 576px) {
  .navbar.navbar-expand-sm {
    padding: 0;
  }

  .smallonly {
    display: none;
  }

  .navbar li:first-child {
    padding-left: 0;
  }

  .navbar li {
    padding-left: 40px;
  }

  .collapse.navbar-collapse {
    background: #282828;
  }

}


/* MEDIUM UPWARDS */

@media (min-width: 768px) {
  .logo.img-responsive {
    /* max-width: 130px; */
  }
  /* .navbar a {
      font-size: 1em;
    }
  .main h2 {
    font-size: 1.2em;
  } */


}

/* LARGE UPWARDS */

/* @media (min-width: 992px) {
  body {
    margin: auto;
  }
  .footer {
    margin: 10px auto 0 auto;
  }
  .main h2 {
    font-size: 1.4em;
  }
}
} */

/* ~~~~~~~~~~Fonts~~~~~~~~~~ */

@font-face {
    font-family: "avenir-medium";
    src: url(fonts/avenir-medium.ttf) format("truetype");
}

@font-face {
    font-family: "avenir-roman";
    src: url(fonts/avenir-roman.ttf) format("truetype");
}
