body {
  max-width: calc(992px + 30px);
  margin-bottom: 100px;
  margin: auto;
  overflow-x: hidden;
}

p {
    font-family: 'avenir-roman', 'sans-serif';
}

.logo.img-responsive {
  display: block;
  margin: auto;
  padding: 1em 0 0 0;
  max-width: 80%;
  height: auto;
}

hr {
  border-top: 1px solid #231f20;
}

.divider-header-top {
  width: 45.5%;
}

.header-title {
  font-family: 'avenir-medium', 'sans-serif';
  text-align: center;
  font-size: 0.7em;
  line-height: 1;
  margin-bottom: -3px;
}


/* ~~~~~~~~~~MOBILE NAVBAR~~~~~~~~~~ */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  z-index: 1000;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* ~~~~~~~~~~SCREEN SIZE NAVBAR~~~~~~~~~~ */

.navbar a{
  font-family: 'avenir-medium', 'sans-serif';
  text-transform: uppercase;
  color: white;
}

.navbar a:hover {
  color: #505050;
}

.navbar li:first-child {
  padding-left: 0;
}


/* ~~~~~~~~~~MAIN CONTENT~~~~~~~~~~ */

.big-box {
  padding-left: 13px;
  padding-right: 13px;
}

.big-box-content {
  background: #282828;
  padding-top: calc((128px - 16px - 28px) / 2);
  padding-bottom: calc((128px - 16px - 28px) / 2);
}

.main h2 {
  font-family: 'Oswald', 'sans-serif';
  font-size: 28px;
  color: #f1afc9;
}

.main p {
  padding: 0.5em 0 0 0.1em;;
}

.row.justify-content-center.align-items-center {
  margin-top: 38px;
  margin-bottom: 38px;
}

.main h1 {
  font-family: 'Avenir-Roman', 'sans-serif';
  font-size: 30px;
  margin-bottom: 0px;
}


/* ~~~~~~~~~~FOOTER~~~~~~~~~~ */

.footer {
  position: fixed;
  background: white;
  width: 90%;
  max-width: calc(992px + 30px);
  bottom: 0;
  height: 100px;
  padding-top: 10px;
}

.form-input {
  width: 100%;
  background: #282828;
  border-style: solid;
  padding-left: 0.5em;
}

.form-input::-webkit-input-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
}

.form-input:-ms-input-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
}

.submit-button {
  float: right;
  color: white;
  background-color: #2b2a29;
  border-color: #2b2a29;
}

.copyright p {
  font-size: 0.75em;
  padding: 1em 0 0 2em;
}

/* .burgerbutton {
  float: left;
  margin-top: 0;
} */




/* ~~~~~~~~~~Media Queries~~~~~~~~~~ */

/* SMALL DOWNWARDS */

@media (max-width: 575.9px) {

  .logo.img-responsive {
    /* display: block; */
    position: relative;
    margin-top: 20px;
    margin-right: clear: both;c(90%/2);
    /* padding: 1em 0 0 0; */
    /* max-width: 20%; */
    height: auto;
  }


  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }

  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;

  }

  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  /* .navbar-collapse {
          position: absolute;
          top: 54px;
          left: 0;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          width: 100%;
      }

      .navbar-collapse.collapsing {
          height: auto;
          -webkit-transition: left 0.3s ease;
          -o-transition: left 0.3s ease;
          -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
          left: -100%;
      }
      .navbar-collapse.show {
          left: 0;
          -webkit-transition: left 0.3s ease-in;
          -o-transition: left 0.3s ease-in;
          -moz-transition: left 0.3s ease-in;
          transition: left 0.3s ease-in;
      } */
}


/* SMALL UPWARDS 576 */

@media (min-width: 576px) {
  /* .logo.img-responsive {
    max-width: calc(0.58 * 120px);
  } */
  .navbar.navbar-expand-sm {
    padding: 0;
  }
  .collapse.navbar-collapse {
    background: #282828;
  }
  /* .logo.img-responsive {
    max-width: calc(0.58 * 120px);
  } */
  /* .navbar li {
    padding-left: calc(0.58 * 73px);
  } */
  /* .navbar a {
      font-size: 0.58em;
    } */
  /* .header-title {
    font-size: calc(0.58 * 0.7em);
    line-height: 0.58;
    margin-bottom: calc(0.58 * (-3px));
  } */
  /* NEW */
  .logo.img-responsive {
    max-width: calc(0.77 * 120px);
  }

  .navbar li {
    padding-left: calc(0.774 * 73px);
  }
  .navbar a {
      font-size: 0.774em;
    }
  .header-title {
    font-size: calc(0.774 * 0.7em);
    line-height: 0.774;
    margin-bottom: calc(0.774 * (-3px));
  }
}


/* MEDIUM UPWARDS  768px*/

@media (min-width: 768px) {
  body {
    margin: auto;
  }
  .logo.img-responsive {
    max-width: 120px;
  }
  .navbar a {
      font-size: 1em;
    }
  .footer {
    margin: 10px auto 0 auto;
  }
  hr {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .navbar li {
    padding-left: 73px;
  }
}

/* LARGE UPWARDS 992px*/
/*
@media (min-width: 992px) {

} */

/* ~~~~~~~~~~Fonts~~~~~~~~~~ */

@font-face {
    font-family: "avenir-medium";
    src: url(../fonts/avenir-medium.ttf) format("truetype");
}

@font-face {
    font-family: "avenir-roman";
    src: url(../fonts/avenir-roman.ttf) format("truetype");
}
