@import "mixins";

body {
  margin: auto;
  overflow-x: hidden;
}

p {
    font-family: 'avenir-roman', 'sans-serif';
    margin-bottom: 0.8em;
}

.copyright p {
  font-family: 'avenir-light', 'sans-serif';
}

.logo.img-responsive {
  display: block;
  margin: auto;
  padding: 1em 0 0 0;
  max-width: 140px;
  height: auto;
}

hr {
  border-top: 1px solid #231f20;
  background-color: #A9A9A9;
  border: 0 none;
  color: #A9A9A9;
  height: 1px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 2em;
}


.header-title {
  font-family: 'avenir-medium', 'sans-serif';
  text-align: center;
  font-size: 0.7em;
  line-height: 1;
}


/* ~~~~~~~~~~MOBILE NAVBAR~~~~~~~~~~ */


.navbar-light {
  position: absolute;
  top: 34px;
  z-index: 1000;
  margin-left: 4px;
}

.navbar-light .navbar-toggler {
  border-style: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/navbaricon.png);
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #282828;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-family: 'avenir-medium', 'sans-serif';
  text-transform: uppercase;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #cccccc;
  /* background: rgba(255, 255, 255, 0.2); */
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

/* .sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
} */

/* .sidebar-nav>.sidebar-brand a {
  color: #999999;
} */

/* .sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
} */

/* ~~~~~~~~~~SCREEN SIZE NAVBAR~~~~~~~~~~ */

.container-fluid.navinner {
  max-width: calc(992px + 30px);
  background: #282828;
}

.navrow {
  padding-left: 4%;
  padding-right: 4%;
}

.navcol {
  display: flex;
  justify-content: center;
  padding: 0;
}

.navrow a {
  font-family: 'avenir-medium', 'sans-serif';
  text-transform: uppercase;
  color: white;
}

.navrow a:hover {
  color: #cccccc;
}

/* .navbar a{
  font-family: 'avenir-medium', 'sans-serif';
  text-transform: uppercase;
  color: white;
}

.navbar a:hover {
  color: #cccccc;
}

.navbar li:first-child {
  padding-left: 0;
} */
/* .navbar li:nth-child(2) {
  padding-left: 83px;
} */


/* ~~~~~~~~~~MAIN CONTENT~~~~~~~~~~ */

.big-box-content {
  background: #282828;;
}

.big-box-content a {
  text-decoration: none;
}

.big-box-content h2:hover {
  text-decoration: none;
  color: #cccccc;
}

.main h2 {
  font-family: 'Oswald', 'sans-serif';
  color: #f1afc9;
}

.main p {
  padding: 0.5em 0 0 0.1em;;
}

h1 {
  font-family: 'Oswald', 'sans-serif';
  margin-bottom: 0px;
}

.big-box-content {
  padding-top: 50px;
  padding-bottom: 42px;
  margin-bottom: 10px;
}

.linerow {
  padding-left: 20px;
  padding-right: 20px;
}

/* ~~~~~~~~~~MOBILE FOOTER~~~~~~~~~~ */

.navbar-fixed-bottom {
  	position: fixed;
    bottom: -20px;
	  height: 0px;
	  width: 100%;
    background-color:#ffffff;
    padding: 10px 0;
}

#footerSlideButton {
	background: #2b2a29;
	position: absolute;
	top: -50px;
	/* right: 47%; */
	width:100%;
	height:50px;
	border: none;
	cursor: pointer;
}

#footerSlideButton p {
  display: flex;
  /* position: relative; */
  margin-top: 15px;
  /* margin-left: 35%; */
  color: white;
  justify-content: center;
  align-content: center;
}

#footerSlideContent {
  padding-top: 20px;
}

/* ~~~~~~~~~~SCREEN FOOTER~~~~~~~~~~ */

.form-input-index {
  width: 100%;
  background: #282828;
  border-style: none;
  color: white;
  font-family: 'avenir-roman', 'sans-serif';
  font-size: 0.8em;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.form-input-index:placeholder-shown {
  color: white;
  opacity: 1;
}

.form-input {
  @include placeholder{
    color:#fff;
    opacity: 1;
  }
}

.form-input:focus {
  @include placeholder{
    opacity: 0.7;
  }
}

.submit-button-index {
  float: right;
  color: white;
  border: none;
  background-color: #2b2a29;
  cursor: pointer;
  font-family: 'avenir-roman', 'sans-serif';
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 2px;
}


/* ABOUT PAGE */

.about h1 {
  text-align: left;
  margin-top: 14px;
  margin-bottom: 16px;
}

/* DISTRIBUTION PAGE */

.distribution h1 {
  text-align: left;
  margin-bottom: 16px;
}

input#mce-FNAME.form-input.form-input-distribution, input#mce-MOBILE.form-input.form-input-distribution, input#mce-EMAIL.form-input.form-input-distribution, input#mce-MESSAGE.form-input.form-input-distribution {
  width: 100%;
  border: none;
  background: #2b2a29;
}

input#mce-MESSAGE.form-input.form-input-distribution {
  height: 100px;
}

.submit-button-distribution {
  float: right;
  color: white;
  border: none;
  background-color: #2b2a29;
  cursor: pointer;
  font-family: 'avenir-roman', 'sans-serif';
  text-transform: uppercase;
  height: 30px;
  font-size: 0.7em;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 4px;
}

.form-control {
  border: none;
  border-radius: 0;
  background: #2b2a29;
  font-family: 'avenir-roman', 'sans-serif';
  text-transform: uppercase;
  font-size: 0.8em;
}

.form-control::-webkit-input-placeholder {
  font-family: 'avenir-roman' 'sans-serif';
  color: white;
  font-size: 0.8em;
}

.form-control:-ms-input-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
  font-size: 0.8em;
}

.form-control::-moz-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
  font-size: 0.8em;
  }

input .input-data-error {
  color: red;
}

/* BRAND PROMO PAGE */
.brand-promo h1 {
  text-align: left;
  margin-bottom: 16px;
  margin-top: 0px;
}

/* Form both on Distribution and Brand Promo */

.distribution h1, .brand-promo h1 {
  /* margin-top: 14px; */
  margin-bottom: 16px;
}

.distribution p, .brand-promo p {
  margin-bottom: 18px;
}

.submit-button-distribution {
  width: 100px;
}

.help-block.with-errors li {
  font-family: 'avenir-roman', 'sans-serif';
  font-size: 0.8em !important;
  color: red;
  padding-top: 3px;
  padding-left: 12px;
  font-size: 14px;
}

.help-block.with-errors .list-unstyled {
  margin-bottom: 0;
}

.text-muted {
  font-family: 'avenir-roman', 'sans-serif';
  font-size: 0.8em !important;
  color: #2b2a29 !important;
}




/* ~~~~~~~~~~Responsive Media Queries~~~~~~~~~~ */

/* SMALL DOWNWARDS */

@media (max-width: 575.9px) {
  .index-body {
    margin-bottom: 1380px;
  }

  .about-body {
    margin-bottom: 1180px;
  }

  .distribution-brand-promo-body {
    margin-bottom: 1250px;
  }

  .logo.img-responsive {
    position: relative;
    margin-top: 34px;
    clear: both;
    margin-right: calc(90%/2);
    height: 180px;
  }

  .divider-header-top, .divider-header-middle {
    width: 92%;
    max-width: 514px;
  }
  .hero-header {
    max-width: calc(467px);
    width: 94%;
    margin: auto;
  }

  .boxes {
    max-width: calc(370px + 30px);
    margin: auto;
  }
  .main h1 {
    margin-top: 28px;
    margin-bottom: 45px;
  }

  .main h2 {
    margin-top: 6px;
    margin-bottom: 14px;
  }

  .main hr {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .submit-button-index {
    margin-right: 2px;
  }
  .copyright p {
    font-size: 0.6em;
    margin-top: 20px;
  }
  .about {
    width: 94%;
  }
  .about-image-mobile {
    padding: 0;
    margin-top: 22px;
    margin-bottom: 10px;
  }

  hr {
    max-width: 500px;
  }
  .brand-promo.container-fluid, .distribution.container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }

}


/* SMALL UPWARDS 576 */

@media (min-width: 576px) {
  body {
    max-width: calc(992px + 30px);
  }
  .logo.img-responsive {
    max-width: calc(0.774 * 120px);
    margin-top: 14px;
  }
  .container-fluid.navinner {
    height: 30px;
  }
  .navrow a {
    font-size: 0.7em;
  }
  /* .navbar a {
      font-size: 0.7em;
    }
  .navbar li {
    padding-left: calc(0.774 * 73px);
  } */
  .divider-header-top {
    width: 45.5%;
  }

  hr {
    margin-top: calc(0.774 * 13px);
    margin-bottom: calc(0.774 * 13px);
  }
  .header p {
    font-size: calc(0.774 * 0.8em);
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .header-bottom {
      margin-bottom: calc(0.774 * (-3px));
  }
  .boxes {
    padding-left: 5px;
    padding-right: 5px;
  }
  .big-box {
    padding-left: calc(0.774 * 13px);
    padding-right: calc(0.774 * 13px);
  }
  .big-box-content {
    padding-top: calc(0.774 * 44px);
    padding-bottom: calc(0.774 * 37px);
    margin-bottom: calc(0.774 * 12px);
  }
  .hero-header {
    margin-top: calc(0.774 * 38px);
    margin-bottom: calc(0.774 * 38px);
  }
  h1 {
    font-size: calc(0.774 * 30px);
  }
  .main h2 {
    font-size: calc(0.774 * 31px);
  }
  p {
    font-size: 0.65em;
    /* margin-bottom: 0; */
  }
  .footer {
    margin-top: calc(0.774 * 26px);
  }
  .form-input-index {
    font-size: 0.6em;
    height: 24px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 8px;
  }
  .submit-button-index {
    width: calc(0.774 * 100px);
    height: 24px;
    font-size: 0.6em;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-top: 2px;
  }
  .copyright {
    padding-left: 0;
    margin-top: calc(0.774 * 58px);
    margin-bottom: 80px;
  }

  .about h1 {
    margin-top: 0;
    margin-bottom: calc(0.774 * 14px);
  }
  .distribution h1 {
    margin-bottom: calc(0.774 * 14px);
  }
  .about-hr {
    width: 60%;
    margin-bottom: 0;
    margin-left: 0;
  }
  .about-image {
    background: url(../img/lotte-meijer-md.jpg) no-repeat center;
    min-height: 100%;
  }
  .about-image-container {
    padding-top: calc(0.774 * 6px);
  }

  .distribution-image {
    background: url(../img/zulmaury-saavedra-cropped.jpg) no-repeat center;
    min-height: 100%;
    margin-top: 5px;
    padding-right: 0;
  }
  .distribution .contact-form-container {
    padding-left: 23px;
  }
  .distribution p {
    margin-bottom: calc(0.774 * 23px);
  }
  /* .submit-button-distribution {
    height: 23px;
    font-size: 0.6em;
    width: calc(0.774 * 100px);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
  } */
  .submit-button-distribution {
    height: 30px;
    font-size: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
  }
  .form-divider {
    width: 90%;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  /* .navbar.navbar-expand-sm {
    padding: 0;
  }
  .collapse.navbar-collapse {
    background: #282828;
  } */
  .form-group {
    margin-bottom: calc(0.774 * 8px);
  }
  .brand-promo h1 {
    margin-bottom: calc(0.774 * 14px);
    margin-top: 0px;
  }
  .brand-promo-image {
    background: url(../img/christopher-burns-471173-unsplash.jpg) no-repeat center;
    min-height: 100%;
    margin-top: 5px;
  }
  .brand-promo .contact-form-container {
    padding-right: 23px;
  }
  .brand-promo p {
    margin-bottom: calc(0.774 * 23px);
  }
  /* .brand-promo {
    font-size: calc(0.774 * 0.7em);
    line-height: 0.774;
    margin-bottom: calc(0.774 * (-3px));
  } */


}


/* MEDIUM UPWARDS  768px*/

@media (min-width: 768px) {


  .logo.img-responsive {
    max-width: 120px;
    margin-top: 24px;
  }
  .container-fluid.navinner {
    height: 38px;
  }
  .navrow a {
    font-size: 0.8em;
    padding-top: 11px;
  }
  /* .navbar a {
      font-size: 0.8em;
    }
  .navbar li {
    padding-left: 75px;
    text-align: center;
  } */
  hr {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .header p {
    font-size: 0.8em;
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .header-bottom {
      margin-bottom: -3px;
  }
  .big-box {
    padding-left: 13px;
    padding-right: 13px;
  }
  .big-box-content {
    padding-top: 44px;
    padding-bottom: 37px;
    margin-bottom: 12px;
  }

  .hero-header {
    margin-top: 38px;
    margin-bottom: 38px;
  }
  h1 {
    font-size: 30px;
  }
  .main h2 {
    font-size: 31px;
  }
  p {
    font-size: 0.8em;
  }
  .footer {
    margin-top: 26px;
  }
  .form-input-index {
    /* font-size: 0.8em; */
    height: 26px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  .submit-button-index {
    height: 26px;
    width: 100px;
    margin-top: 1px;
    padding-top: 6px;
  }
  .copyright {
    margin-top: 58px;
  }
  .about h1 {
    margin-top: 0;
    margin-bottom: 14px;
  }
  .about-image-container {
    padding-top: 6px;
  }
  .distribution h1 {
    margin-bottom: 14px;
  }
  .distribution p {
    margin-bottom: 23px;
  }
  .distribution .contact-form-container {
    padding-left: 35px;
  }
  .submit-button-distribution {
    height: 30px;
    width: 100px;
    font-size: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
  }

  .about-image {
    background-image: url(../img/lotte-meijer-lg.jpg);
    min-height: 100%;
  }
  .form-group {
    margin-bottom: 8px;
  }
  .brand-promo h1 {
    margin-bottom: 14px;
    margin-top: 0px;
  }
  .brand-promo p {
    margin-bottom: 23px;
  }
  .brand-promo .contact-form-container {
    padding-right: 35px;
  }
  /* SIDEBAR */
  #wrapper {
  padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
      background-color: #231f20;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  /* SIDEBAR */
}


/* ~~~~~~~~~~Fonts~~~~~~~~~~ */

@font-face {
    font-family: "avenir-medium";
    src: url(../fonts/avenir-medium.ttf) format("truetype");
}

/* @font-face {
    font-family: "avenir-regular";
    src: url(../fonts/avenir-regular.ttf) format("truetype");
} */

@font-face {
    font-family: "avenir-light";
    src: url(../fonts/avenir-light.ttf) format("truetype");
}

@font-face {
    font-family: "avenir-roman";
    src: url(../fonts/avenir-roman.ttf) format("truetype");
}
