@import "mixins";

body {
  margin: auto;
  overflow-x: hidden;
}

p {
    font-family: 'avenir-roman', 'sans-serif';
    margin-bottom: 0.8em;
}

.copyright p {
  font-family: 'avenir-light', 'sans-serif';
}

.logo.img-responsive {
  display: block;
  margin: auto;
  padding: 1em 0 0 0;
  max-width: 140px;
  height: auto;
}

.mobile-logo {
  height: auto;
  max-width: 140px;
}

.container-fluid .navinner {
  overflow: hidden;
  white-space: nowrap;
}

hr {
  border-top: 1px solid #231f20;
  background-color: #A9A9A9;
  border: 0 none;
  color: #A9A9A9;
  height: 1px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 2em;
}


.header-title {
  font-family: 'avenir-medium', 'sans-serif';
  text-align: center;
  font-size: 0.7em;
  line-height: 1;
}


/* ~~~~~~~~~~MOBILE NAVBAR~~~~~~~~~~ */


.navbar-light {
  position: absolute;
  top: 34px;
  z-index: 1000;
  margin-left: 4px;
}

.navbar-light .navbar-toggler {
  border-style: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../../img/navbaricon.png);
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #282828;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-family: 'avenir-medium', 'sans-serif';
  text-transform: uppercase;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #cccccc;
  /* background: rgba(255, 255, 255, 0.2); */
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

/* ~~~~~~~~~~SCREEN SIZE NAVBAR~~~~~~~~~~ */

.container-fluid.navinner {
  max-width: calc(992px + 30px);
  background: #282828;
}

.navrow {
  padding-left: 4%;
  padding-right: 4%;
}

.navcol {
  display: flex;
  justify-content: center;
  padding: 0;
}

.navrow a {
  font-family: 'avenir-medium', 'sans-serif';
  text-transform: uppercase;
  color: white;
}

.navrow a:hover {
  color: #cccccc;
}


/* ~~~~~~~~~~MAIN CONTENT~~~~~~~~~~ */

.big-box-content {
  // background: #282828;
  background-image: url(../../img/gridbg.jpg);
  background-size: 100% 100%;
}

.big-box-content a {
  text-decoration: none;
}

.main h2 {
  font-family: 'Oswald', 'sans-serif';
  color: #36bda2;
}

.main p {
  padding: 0.5em 0 0 0.1em;;
}

.shop-btn {
  display: block;
  margin: auto;
  color: white;
  border: none;
  background-color: #2b2a29;
  cursor: pointer;
  font-family: 'avenir-roman', 'sans-serif';
  text-transform: uppercase;
  height: 29px;
  width: 82px;
  font-size: 0.5em;
  padding-top: 4px;
  padding-bottom: 3px;
  margin-top: 26px;
  margin-bottom: 24px
}

.shop-btn a {
  text-decoration: none !important;
  color: white !important;
}

h1 {
  font-family: 'Oswald', 'sans-serif';
  margin-bottom: 0px;
}

.big-box-content {
  padding-top: 50px;
  padding-bottom: 42px;
  margin-bottom: 10px;
}

.linerow {
  padding-left: 20px;
  padding-right: 20px;
}

/* ~~~~~~~~~~MOBILE FOOTER~~~~~~~~~~ */

.navbar-fixed-bottom {
  	position: fixed;
    bottom: -20px;
	  height: 0px;
	  width: 100%;
    background-color:#ffffff;
    padding: 10px 0;
}

#footerSlideButton {
	background: #2b2a29;
	position: absolute;
	top: -50px;
	/* right: 47%; */
	width:100%;
	height:50px;
	border: none;
	cursor: pointer;
}

#footerSlideButton p {
  display: flex;
  margin-top: 15px;
  color: white;
  justify-content: center;
  align-content: center;
}

#footerSlideContent {
  padding-top: 20px;
}

/* ~~~~~~~~~~SCREEN FOOTER~~~~~~~~~~ */

.form-input-index {
  width: 100%;
  background: #282828;
  border-style: none;
  color: white;
  font-family: 'avenir-roman', 'sans-serif';
  font-size: 0.8em;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.form-input-index:placeholder-shown {
  color: white;
  opacity: 1;
}

.form-input {
  @include placeholder{
    color:#fff;
    opacity: 1;
  }
}

.form-input:focus {
  @include placeholder{
    opacity: 0.7;
  }
}

.submit-button-index {
  float: right;
  color: white;
  border: none;
  background-color: #2b2a29;
  cursor: pointer;
  font-family: 'avenir-roman', 'sans-serif';
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 2px;
}

.copyright.container-fluid a {
  text-decoration: none;
  color: #2b2a29;
}

/* ABOUT PAGE */

.about h1 {
  text-align: left;
  margin-top: 14px;
  margin-bottom: 16px;
}

/* DISTRIBUTION PAGE */

.distribution h1 {
  text-align: left;
  margin-bottom: 16px;
}

.about-hr {
  display: inline-block;
}

.join-btn {
  display: inline-block;
  float: right;
  color: white;
  border: none;
  background-color: #2b2a29;
  cursor: pointer;
  font-family: 'avenir-roman', 'sans-serif';
  text-transform: uppercase;
  height: 29px;
  width: 82px;
  font-size: 0.5em;
  padding-top: 4px;
  padding-bottom: 3px;
  // margin-top: 26px;
  // margin-bottom: 24px
}

input#mce-FNAME.form-input.form-input-distribution, input#mce-MOBILE.form-input.form-input-distribution, input#mce-EMAIL.form-input.form-input-distribution, input#mce-MESSAGE.form-input.form-input-distribution {
  width: 100%;
  border: none;
  background: #2b2a29;
}

input#mce-MESSAGE.form-input.form-input-distribution {
  height: 100px;
}

.submit-button-distribution {
  float: right;
  color: white;
  border: none;
  background-color: #2b2a29;
  cursor: pointer;
  font-family: 'avenir-roman', 'sans-serif';
  text-transform: uppercase;
  height: 30px;
  font-size: 0.7em;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 4px;
}

.form-control {
  border: none;
  border-radius: 0;
  background: #2b2a29 !important;
  font-family: 'avenir-roman', 'sans-serif';
  font-size: 0.8em;
  color: white !important;
}

.form-control::-webkit-input-placeholder {
  font-family: 'avenir-roman' 'sans-serif';
  color: white;
  font-size: 0.8em;
}

.form-control:-ms-input-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
  font-size: 0.8em;
}

.form-control::-moz-placeholder {
  font-family: 'avenir-roman', 'sans-serif';
  color: white;
  font-size: 0.8em;
  }

input .input-data-error {
  color: red;
}

/* BRAND PROMO PAGE */
.brand-promo h1 {
  text-align: left;
  margin-bottom: 16px;
  margin-top: 0px;
}

/* Form both on Distribution and Brand Promo */

.distribution h1, .brand-promo h1 {
  /* margin-top: 14px; */
  margin-bottom: 16px;
}

.distribution p, .brand-promo p {
  margin-bottom: 18px;
}

.submit-button-distribution {
  width: 100px;
}

.help-block.with-errors li {
  font-family: 'avenir-roman', 'sans-serif';
  font-size: 0.8em !important;
  color: red;
  padding-top: 3px;
  padding-left: 12px;
  font-size: 14px;
}

.help-block.with-errors .list-unstyled {
  margin-bottom: 0;
}

.text-muted {
  font-family: 'avenir-roman', 'sans-serif';
  font-size: 0.8em !important;
  color: #2b2a29 !important;
}

.privacy-text span {
  font-family: 'avenir-roman', 'sans-serif' !important;
  font-size: 0.8rem !important;
}


/* ~~~~~~~~~~Responsive Media Queries~~~~~~~~~~ */

/* SMALL DOWNWARDS */

@media (max-width: 575.9px) {
  .index-body {
    margin-bottom: 1620px;
  }

  .about-body {
    margin-bottom: 1180px;
  }

  .distribution-brand-promo-body {
    margin-bottom: 1250px;
  }

  .logo.img-responsive {
    position: relative;
    margin-top: 34px;
    clear: both;
    // margin-right: calc(90%/2);
    height: 180px;
  }

  .divider-header-top, .divider-header-middle {
    width: 92%;
    max-width: 514px;
  }
  .hero-header {
    max-width: calc(467px);
    width: 94%;
    margin: auto;
  }
  .gallery-box {
    margin-top: 20px;
  }
  .boxes {
    max-width: calc(370px + 30px);
    margin: auto;
  }
  .main h1 {
    margin-top: 28px;
    margin-bottom: 45px;
  }

  .main h2 {
    margin-top: 6px;
    margin-bottom: 14px;
  }

  .main hr {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .submit-button-index {
    margin-right: 2px;
  }
  .copyright p {
    font-size: 0.6em;
    margin-top: 20px;
  }
  .about {
    width: 94%;
  }
  .about-hr {
    width: 65%;
  }
  .about-image-mobile {
    padding: 0;
    margin-top: 22px;
    margin-bottom: 10px;
  }

  hr {
    max-width: 500px;
  }
  .brand-promo.container-fluid, .distribution.container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
  .copyright.container-fluid {
    margin-top: 40px;
  }

}


/* SMALL UPWARDS 576 */

@media (min-width: 576px) {
  body {
    max-width: calc(992px + 30px);
  }
  .logo.img-responsive {
    max-width: calc(0.774 * 120px);
    margin-top: 14px;
  }
  .container-fluid.navinner {
    height: 30px;
  }
  .navrow a {
    font-size: 0.7em;
  }
  /* .navbar a {
      font-size: 0.7em;
    }
  .navbar li {
    padding-left: calc(0.774 * 73px);
  } */
  .divider-header-top {
    width: 45.5%;
  }

  hr {
    margin-top: calc(0.774 * 13px);
    margin-bottom: calc(0.774 * 13px);
  }
  .header p {
    font-size: calc(0.774 * 0.8em);
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .header-bottom {
      margin-bottom: calc(0.774 * (-3px));
  }
  .boxes {
    padding-left: 5px;
    padding-right: 5px;
  }
  .big-box {
    padding-left: calc(0.774 * 13px);
    padding-right: calc(0.774 * 13px);
  }
  .big-box-content {
    padding-top: calc(0.774 * 44px);
    padding-bottom: calc(0.774 * 37px);
    margin-bottom: calc(0.774 * 12px);
  }
  .hero-header {
    margin-top: calc(0.774 * 38px);
    margin-bottom: calc(0.774 * 38px);
  }
  h1 {
    font-size: calc(0.774 * 30px);
  }
  .main h2 {
    font-size: calc(0.774 * 31px);
  }
  p {
    font-size: 0.65em;
    /* margin-bottom: 0; */
  }
  .footer {
    margin-top: calc(0.774 * 26px);
  }
  .form-input-index {
    font-size: 0.6em;
    height: 24px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 8px;
  }
  .submit-button-index {
    width: calc(0.774 * 100px);
    height: 24px;
    font-size: 0.6em;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-top: 2px;
  }
  .copyright {
    padding-left: 0;
    margin-top: calc(0.774 * 44px);
    margin-bottom: 80px;
  }

  .about h1 {
    margin-top: 0;
    margin-bottom: calc(0.774 * 14px);
  }
  .distribution h1 {
    margin-bottom: calc(0.774 * 14px);
  }
  .about-hr {
    width: 60%;
    margin-bottom: 0;
    margin-left: 0;
  }
  .about-image {
    background: url(../../img/lotte-meijer-lgg.png) no-repeat center;
    min-height: 100%;
  }

  .about-image-container {
    padding-top: calc(0.774 * 6px);
  }

  .distribution-image {
    background: url(../../img/inature-tube-floral-lg.png) no-repeat center;
    min-height: 100%;
    margin-top: 5px;
    padding-right: 0;
  }
  .distribution .contact-form-container {
    padding-left: 23px;
  }
  .distribution p {
    margin-bottom: calc(0.774 * 23px);
  }
  .submit-button-distribution {
    height: 30px;
    font-size: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
  }
  .form-divider {
    width: 90%;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .form-group {
    margin-bottom: calc(0.774 * 8px);
  }
  .brand-promo h1 {
    margin-bottom: calc(0.774 * 14px);
    margin-top: 0px;
  }
  .brand-promo-image {
    background: url(../../img/Lucas_Papaw_Product_Photoshoot_md.jpg) no-repeat center;
    // background: #2b2a29;
    min-height: 100%;
    margin-top: 5px;
  }
  .brand-promo .contact-form-container {
    padding-right: 23px;
  }
  .brand-promo p {
    margin-bottom: calc(0.774 * 23px);
  }

}


/* MEDIUM UPWARDS  768px*/

@media (min-width: 768px) {


  .logo.img-responsive {
    max-width: 120px;
    margin-top: 24px;
  }
  .container-fluid.navinner {
    height: 38px;
  }
  .navrow a {
    font-size: 0.8em;
    padding-top: 11px;
  }
  /* .navbar a {
      font-size: 0.8em;
    }
  .navbar li {
    padding-left: 75px;
    text-align: center;
  } */
  hr {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .header p {
    font-size: 0.8em;
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .header-bottom {
      margin-bottom: -3px;
  }
  .big-box {
    padding-left: 13px;
    padding-right: 13px;
  }
  .big-box-content {
    padding-top: 44px;
    padding-bottom: 37px;
    margin-bottom: 12px;
  }

  .hero-header {
    margin-top: 38px;
    margin-bottom: 38px;
  }
  h1 {
    font-size: 30px;
  }
  .main h2 {
    font-size: 31px;
  }
  p {
    font-size: 0.8em;
  }
  .footer {
    margin-top: 26px;
  }
  .form-input-index {
    /* font-size: 0.8em; */
    height: 26px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  .submit-button-index {
    height: 26px;
    width: 100px;
    margin-top: 1px;
    padding-top: 6px;
  }
  .copyright {
    margin-top: 44px;
  }
  .about h1 {
    margin-top: 0;
    margin-bottom: 14px;
  }
  .about-image-container {
    padding-top: 6px;
    margin-bottom: 15px;
  }
  .distribution h1 {
    margin-bottom: 14px;
  }
  .distribution p {
    margin-bottom: 23px;
  }
  .distribution .contact-form-container {
    padding-left: 35px;
  }
  .submit-button-distribution {
    height: 30px;
    width: 100px;
    font-size: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
  }

  .about-image {
    background-image: url(../../img/lotte-meijer-lgggg.png);
    min-height: 100%;
  }
  .form-group {
    margin-bottom: 8px;
  }
  .brand-promo h1 {
    margin-bottom: 14px;
    margin-top: 0px;
  }
  .brand-promo p {
    margin-bottom: 23px;
  }
  .brand-promo .contact-form-container {
    padding-right: 35px;
  }
  /* SIDEBAR */
  #wrapper {
  padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
      background-color: #231f20;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  /* SIDEBAR */
}


/* ~~~~~~~~~~Fonts~~~~~~~~~~ */

@font-face {
    font-family: "avenir-medium";
    src: url(../fonts/avenir-medium.ttf) format("truetype");
}

/* @font-face {
    font-family: "avenir-regular";
    src: url(../fonts/avenir-regular.ttf) format("truetype");
} */

@font-face {
    font-family: "avenir-light";
    src: url(../fonts/avenir-light.ttf) format("truetype");
}

@font-face {
    font-family: "avenir-roman";
    src: url(../fonts/avenir-roman.ttf) format("truetype");
}


/* ~~~~~~~~~~Lightbox Gallery~~~~~~~~~~ */

body:after {
  content: url(../../img/close.png) url(../../img/loading.gif) url(../../img/prev.png) url(../../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  // border-radius: 3px;

  /* Image border */
  border: 4px solid #2b2a29;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}




// Gallery CSS

.gallery-image {
  max-width: 100%;
}

.image-description {
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 37px;
}

.hover {
    // text-decoration: none;
    color: #cccccc !important;

}
